@model OdontoFacil.Models.Views.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="login-page">
    <div class="logo-wrapper">
        <img src="~/img/logo.png" width="100%">
    </div>

    <div class="row justify-content-center form-container">
        <div class="col-md-5 mt-5">
            <form asp-action="Index" asp-controller="Login">
                <div asp-validation-summary="ModelOnly"></div>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage as string))
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }

                <div class="form-group mt-2">
                    <label asp-for="Email" class="control-label text-white"></label>
                    <input asp-for="Email" class="form-control mt-1" placeholder="Digite seu email" />
                    <span asp-validation-for="Email" class="text-white mt-1"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="Password" class="control-label text-white"></label>
                    <input asp-for="Password" class="form-control mt-1" type="password"
                        placeholder="Digite sua senha" />
                    <span asp-validation-for="Password" class="text-white mt-1"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <input type="submit" value="Login" class="button" />
                    <a href="/Cadastro" class="button">Criar uma conta</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#CPF").inputmask('999.999.999-99');
        });
    </script>
}