@using OdontoFacil.Constants
@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OdontoFacil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OdontoFacil.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", required: false)
</head>

<body>
    <header>
        <img src="~/img/logo.png" />
        <a class="logout-button" href="/Logout">Sair ➤</a>
    </header>
    <div class="container">
        <nav class="nav-bar">
            @if (User.IsInRole(UserTypes.Dentist) || User.IsInRole(UserTypes.Helper))
            {
                <a class="nav-button" href="/Pacientes">Pacientes</a>
                <a class="nav-button" href="/Prontuario">Prontuário</a>
            }
            else
            {
                <a class="nav-button" href="/Perfil">Perfil</a>
            }
            <a class="nav-button" href="/Agendar">Agendar</a>
            <a class="nav-button" href="/Agendamentos">Agendamentos</a>
            <a class="nav-button" href="/Exames">Exames</a>
        </nav>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-inputmask/dist/jquery.inputmask.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
